.c-btn {
    display: block;
    margin: 32px auto 16px;
    width: 50%;
    padding: 8px;
    border-radius: 8px;

    &--pink {
    background-color: $plat_pink;
    color: white;
    }
    &--navy{
    background-color: $plat_navy;
    color: white;
    }
}