.c-btn {
    display: block;
    margin: 32px auto 16px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    transition: all 0.25s $ease-in-sine;

    &:hover {
        filter: brightness(150%);
        text-decoration: none;
    }

    &--50p {
        width: 50%;
    }

    &--pink {
        background-color: $plat_pink;
        color: white;
    }

    // navy
    &--navy {
        background-color: $plat_navy;
        color: white !important;

        &.is-inactive {
            background-color: $gray;
        }
    }

    &--gray {
        background-color: $gray;
        color: white;
        pointer-events: none;
    }

    &--small {
        margin: 16px auto 8px;
        padding: 8px 16px;
        display: inline-block;
        width: auto;
        font-size: 11px;
    }



    &--update {
        align-items: center;
        text-align: center;
        width: 100px;

        &:hover {
            text-decoration: none;
        }
    }

    &--tab {
        width: 100%;
        height: 32px;
        border: 2px solid $plat_navy;
        display: flex;
        border-radius: 16px;
        background-color: white;
        margin: auto;
        align-items: center;
        overflow: hidden;

        a {
            flex: 1;
            text-align: center;
            font-size: 12px;
            color: $plat_navy;

            &.is-active {
                background-color: $plat_navy;
                color: white;
                height: 32px;
                line-height: 32px;
                border-radius: 16px;
            }
        }
    }
}