.c-btn {
    display: block;
    margin: 32px auto 16px;
    width: 50%;
    padding: 8px;
    border-radius: 8px;

    &--pink {
    background-color: $plat_pink;
    color: white;
<<<<<<< HEAD
    }
    &--navy{
    background-color: $plat_navy;
    color: white;
=======

>>>>>>> a4081f137c41520890dc4eff3a1bad55ecdf0b29
    }

    &--navy {
        background-color: $plat_navy;
        color: white;
}
}