.c-coupon {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .c-btn--small {
            margin-right: 0;
        }
    }

    &__box {
        width: 100%;
        background-color: white;
        border: 2px solid #C9C9C9;
        border-radius: 8px;

        margin-top: 16px;
        padding: 0 16px;

        &--spot {
            margin-top: 0;
            width: 100%;
            background-color: white;
            border: 2px solid #C9C9C9;
            border-radius: 8px;
            padding: 0 16px;

        }
    }

    &__use {
        color: #CB4778;
        font-size: 12px;
    }

    &__address {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &__moji{
        p{
            color: $plat_navy;
            text-align: center;
            background-color: red;
         }
     }
}