.c-coupon {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .c-btn--small{
            margin-right: 0;
        }
    }

    &__box {
        width: 320px;
        background-color: white;
        border: 2px solid #C9C9C9;
        border-radius: 8px;
        margin: auto;
        margin-top: 16px;
        padding: 0 16px;
    }

    &__use {
        color: #CB4778;
        font-size: 12px;
    }

    &__address {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

}

// .c-coupon__a {
//     margin-right: auto;

//     &__detail {
//         width: 80px;
//         height: 24px;
//         background-color: $plat_navy;
//         color: white;
//         border-radius: 4px;
//         float: left;
//         margin: 8px;
//     }
//     &__review{
//         width: 102px;
//         height: 23px;
//         background-color: $plat_navy;
//         color: white;
//         border-radius: 4px;
//         margin: 8px;
//         font-size: 10px;
//         position: absolute 0 8px;
//     }
// }