.c-form {
    input {
        width: 100%;
        padding: 8px;
        border: 1px solid $gray;
        border-radius: 8px;
    }

    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid $gray;
        border-radius: 8px;
    }

    &--check {
        font-size: 16px;

        input {
            width: 24px;
        }
    }

    select {
        width: 100%;
        padding: 8px;
        border: 1px solid $gray;
        border-radius: 8px;
    }

    label {
        display: block;
        color: $plat_navy;
        font-size: 12px;
    }

    &__group {
        margin-bottom: 16px;
        position: relative;


        &--time {
            display: flex;
            flex: 1;
            gap: 8px;
            align-items: center;
            margin: 16px 0px 24px;

            label {
                padding: 0;
            }

            input {
                width: 100%;
                flex: 1;
            }
        }


    }

    &--admin {
        width: 100%;




        color: $plat_navy;

    }


}