.c-hukidashi {
    display: flex;
    gap: 8px;
    margin-bottom: 48px;
    &.c-hukidashi--a {
        flex-direction: row-reverse;
    }

    &.c-hukidashi--b {
        flex-direction: row;
    }
    &__date {
        font-size: 12px;
        text-align: center;
        margin: 32px auto;

        &--spot {
            text-align: left;
            font-size: 8px;
            margin: 32px auto 0;
        }
    }
    &__frame {
        box-sizing: border-box;
        border: 1px solid #c9c9c9;
        border-radius: 16px;
        color: $gray;
        display: block;
        padding: 0 16px 16px;
        .c-hukidashi--a & {
            border-top-right-radius: 0;
        }

        .c-hukidashi--b & {
            border-top-left-radius: 0;
        }
    }

    &__username {
        padding: 0;
        color: #4a4a4a;
        font-size: 12px;

        .c-hukidashi--a & {
            text-align: right;
        }
    }

    &__photo {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        flex-shrink: 0;

        .c-hukidashi--a & {
            flex-direction: row-reverse;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        padding: 12px 0;
        border-bottom: 1px solid $gray;
    }
    &__visited {
        font-size: 11px;
        margin: 0;
        color: black;
    }
    &__stars {
        display: flex;
        gap: 1px;
        img {
            width: 16px;
            height: 16px;
        }
    }
    &__tittle {
        font-size: 18px;
        font-weight: 700;
        color: black;
    }

    &__honbun {
        color: black;
        font-size: 14px;
        margin-bottom: 16px;
    }
    &__footer {
        display: flex;
        justify-content: flex-end;
    }
    &__good {
        display: flex;
        justify-content: flex-end;
        img {
            width: 32px;
            height: 32px;
        }
    }
    &__good__icon{
        &.show{
            background-color: red;
        }
        
    }

    &__goodnumber {
        color: $plat_pink;
        font-size: 24px;
        font-weight: 700;
        // text-align: right;
        // margin-right: 16px;
        align-items: center;
        cursor: pointer;
        input {
            display: none;
            &:checked + .c-hukidashi__good-icon {
                background-image: url("/images/good-icon-on.png");
                animation: jump forwards 0.25s $ease-out-quint;
            }
        }
        &-icon {
            width: 24px;
            height: 24px;
            margin-right: 4px;
            background-image: url("/images/good-icon.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-num {
            color: $plat_purple;
            line-height: 1;
            font-size: 24px;
            font-weight: 700;
        }
        &.disabled {
            pointer-events: none;
        }
    }

    &__edit {
        justify-content: flex-end;
        display: flex;
        gap: 8px;
        margin-top: -32px;
        a {
            display: flex;
            align-items: center;
            gap: 4px;
            color: $plat_navy;
            &:before {
                content: "";
                display: block;
                flex: 1;
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &.c-hukidashi__edit-edit:before {
                background-image: url("/images/pencil.png");
            }
            &.c-hukidashi__edit-delete:before {
                background-image: url("/images/gomibako.png");
            }
        }
    }

    &--good {
        margin-bottom: 32px;
        display: flex;
        gap: 8px;
    }
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
