.c-hukidashi {
    display: flex;
    gap: 8px;

    &.c-hukidashi--a {
        flex-direction: row-reverse;
    }

    &.c-hukidashi--b {
        flex-direction: row;
    }

    &__frame {
        box-sizing: border-box;
        border: 1px solid #c9c9c9;
        border-radius: 16px;
        color: $gray;
        display: block;

        .c-hukidashi--a & {
            border-top-right-radius: 0;
        }

        .c-hukidashi--b & {
            border-top-left-radius: 0;
        }
    }

    &__username {
        height: 24px;
        margin-top: 0;
        margin-bottom: 0px;
        padding: 0;
        color: #4a4a4a;
        font-size: 10px;

        .c-hukidashi--a & {
            text-align: right;
        }
    }

    &__photo {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        flex-shrink: 0;

        .c-hukidashi--a & {
            flex-direction: row-reverse;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

        &--a {
            width: 100%;
        }
    }

    &__tittle {
        margin-top: 0 16px;
        display: flex;
        width: 128px;
        font-size: 16px;
        color: black;
        margin: 16px;
    }

    &__star {
        text-align: right;
        margin: 16px 0;
        width: 128px;
        color: gold;
        margin-right: 8px;


    }

    &__honbun {
        color: black;
        margin: 16px;
        font-size: 14px;
        margin-top: 0;
    }

    &__good {
        display: flex;
        // text-align: right;
        margin-right: 16px;
        justify-content: flex-end;

        img {
            width: 32px;
            height: 32px;
        }
    }

    &__goodnumber {
        color: $plat_pink;
        font-size: 24px;
        font-weight: 700;
        // text-align: right;
        // margin-right: 16px;
    }

    &__edit {
        justify-content: flex-end;
        display: flex;
        gap: 8px;

        img {
            width: 16px;
            height: 16px;
        }

        padding-top: 8px;
    }

    &__date {
        font-size: 8px;
        text-align: center;
        height: 32px;
        margin-top: 32px;

        &--spot {
            text-align: left;
            font-size: 8px;
            margin: 32px auto 0;
        }
    }
    &--good{
        margin-bottom:32px ;
        display: flex;
        gap:8px;
    }
}