.c-header {
    background: #F9F9F9;
    border-bottom: 1px solid $gray;
    text-align: center;
    position: relative;
    min-height: 36px;

    h4 {
        margin: 16px auto;
    }
    &__bell{
        background: #F9F9F9;
        border-bottom: 1px solid $gray;
        position: relative;
        min-height: 36px;
        text-align: right;  
        margin-bottom: 32px;
        img{     
        width: 32px;
        height: 32px;
        margin-right: 16px;
        } 
       
    }
    &__notice{
        position: absolute;
        top:-2px;
        right:-2px;
        z-index: 100;
        background-color: $plat_pink;
        min-width: 16px;
        height: 16px;
        color: white;
        font-size: 8px;
        border-radius: 8px;
        padding: 0 8px;

         
    }
}