.c-hukidashi {
    display: flex;
    gap: 8px;
    margin-bottom: 48px;
    &.c-hukidashi--a {
        flex-direction: row-reverse;
    }

    &.c-hukidashi--b {
        flex-direction: row;
    }
    &__date {
        font-size: 12px;
        text-align: center;
        margin: 32px auto;

        &--spot {
            text-align: left;
            font-size: 8px;
            margin: 32px auto 0;
        }
    }
    &__frame {
        box-sizing: border-box;
        border: 1px solid #c9c9c9;
        border-radius: 16px;
        color: $gray;
        display: block;
        padding: 0 16px;
        .c-hukidashi--a & {
            border-top-right-radius: 0;
        }

        .c-hukidashi--b & {
            border-top-left-radius: 0;
        }
    }

    &__username {
        padding: 0;
        color: #4a4a4a;
        font-size: 12px;

        .c-hukidashi--a & {
            text-align: right;
        }
    }

    &__photo {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        flex-shrink: 0;

        .c-hukidashi--a & {
            flex-direction: row-reverse;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        padding: 12px 0;
        border-bottom: 1px solid $gray;
    }
    &__visit {
        font-size: 11px;
        margin: 0;
        color: $gray-darker;
    }
    &__stars {
        display: flex;
        gap: 1px;
        img {
            width: 16px;
            height: 16px;
        }
    }
    &__tittle {
        font-size: 18px;
        font-weight: 700;
        color: black;
    }

    &__honbun {
        color: black;
        font-size: 14px;
        margin-bottom: 16px;
    }

    &__good {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 8px;
        a {
            color: $plat_pink;
            font-size: 24px;
            font-weight: 700;
            display: block;
            text-align: right;
            padding-left: 32px;
            background-image: url("/images/good-icon.png");
            background-repeat: no-repeat;
            background-size: 28px;
            background-position: left center;
            &:hover {
                text-decoration: none;
            }
        }
        &.show {
            a {
                background-image: url("/images/good-icon-on.png");
            }
        }
        &:hover {
            text-decoration: none;
        }
    }

    &__edit {
        justify-content: flex-end;
        display: flex;
        gap: 8px;

        img {
            width: 16px;
            height: 16px;
        }

        padding-top: 8px;
    }

    &--good {
        margin-bottom: 32px;
        display: flex;
        gap: 8px;
    }
    // &__visited{
    //     font-size: 8px;
    //     text-align: right;
    // }
}
