.c-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 200;
    justify-content: center;
    align-items: center;
    animation: fade-in forwards 0.25s $ease-in-out-quint;
    top: 0;
    left: 0;

    &__box {
        width: calc(100% - 32px);
        max-width: 400px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        padding: 24px 12px 12px;
        animation: scaleup forwards 0.25s $ease-out-sine;
    }

    &__title {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 16px;

        &--pink {
            color: $plat_pink;
        }

        small {
            display: block;
            color: $gray_darker;
            font-size: 12px;
            text-align: center;
        }
    }

    &__content {
        margin-bottom: 18px;
        font-size: 14px;
    }

    &__button {
        text-align: center;

        a:not([class]) {
            font-size: 14px;
            color: $plat_navy;
            line-height: 1;
        }
    }

    &__flex {
        display: flex;
        gap: 8px;

        &__img {
            width: 100px;
            height: 100px;
            margin: 0;
            padding: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__text {
            margin: 0;
            padding: 0;
            flex: 1;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.25;

            small {
                margin-top: 12px;
                font-weight: 400;
                font-size: 12px;
                display: block;
            }
        }
    }

    &__sineup {
        text-align: center;
    }
    &__area {
        background-color: black;
        color: #00ff00;
        font-size: 11px;
        line-height: 1;
        position: absolute;
        bottom: 0;
        left: 16px;
        padding: 8px;
        border-radius: 4px 4px 0 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleup {
    0% {
        transform: scale(50%);
    }

    100% {
        transform: scale(100%);
    }
}
