.p-gacha {
    &-top {
        width: 100%;
        min-height: 100vh;
        position: relative;
        background-color: $gray_light;
        video {
            background-color: black;
            width: 100%;
            position: absolute;
            transform: translateY(-100px);
        }
    }
    &__message {
        position: absolute;
        width: 0;
        opacity: 0;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        padding: 8px;
        border: 1px solid $plat-purple;
        border-radius: 8px;
        background-color: rgba($color: $plat-purple, $alpha: 0.85);
        overflow: hidden;
        animation: open forwards 1s 1s $ease-out-quint;
        p {
            color: white;
            font-size: 15px;
            text-align: center;
            margin: 0;
            white-space: nowrap;
            //animation: blink infinite alternate 0.75s $ease-out-sine;
        }
        // &--gacha{
        //     h1{
        //         text-align: center;
        //     }
        // }
    }
    &__handle {
        width: 100%;
        height: 370px;
        background-image: url("/images/bg_gacha-handle.png");
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: 0;

        &--slideup {
            animation: slideup forwards 1s $ease-in-out-quint;
        }
    }

    &__circle {
        width: 256px;
        height: 256px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 80px;
        left: calc(50% - 130px);
        animation: wakka infinite 5s linear;
        &:hover {
            //animation: wakka infinite 1s linear;
        }
    }

    &__map {
        width: 100%;
        height: calc(100vh - 280px);

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    &__mawasu {
        width: 80px;
        height: 66px;
        margin: 0;
        padding: 0;
        position: absolute;
        cursor: pointer;
        top: 180px;
        left: calc(50% - 42px);
        animation: bounce infinite alternate 0.5s $ease-in-out-quint;
    }
    &__control {
        background-color: white;
        width: 100%;
        padding: 8px 16px 32px;
        &-window {
            background-color: black;
            width: 100%;
            border-radius: 8px;
            padding: 16px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                margin: 0;
                padding: 0;
                color: #00ff00;
                font-size: 14px;
            }
            ul {
                margin: 0;
                padding: 0;
                gap: 4px;
                display: flex;
                list-style: none;
                input {
                    color: #00ff00;
                    font-size: 14px;
                    display: block;
                    padding: 4px;
                    border: 1px solid #00ff00;
                    border-radius: 4px;
                    background-color: transparent;
                    cursor: pointer;
                    &:hover {
                        text-decoration: none;
                        background-color: rgba($color: #00ff00, $alpha: 0.5);
                    }
                }
            }
        }
        &.beppu input#go-kannawa {
            background-color: #00ff00;
            color: black;
            pointer-events: none;
        }
        &.oita input#go-ohara {
            background-color: #00ff00;
            color: black;
            pointer-events: none;
        }
    }
}

@keyframes slideup {
    0% {
        transform: translateY(500px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: scale(120%);
    }

    100% {
        transform: scale(80%);
    }
}

@keyframes wakka {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes blink {
    0% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

@keyframes open {
    0% {
        width: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        width: calc(100% - 32px);
        opacity: 1;
    }
}
