@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap");
html {
  height: -webkit-fill-available;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.75;
  background-color: #f6f6f6;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.c-container {
  padding: 16px 16px 64px;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
.c-container--pc {
  max-width: 1280px;
}

.c-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
}
.c-form label {
  display: block;
  color: #354260;
  font-size: 12px;
}
.c-form__group {
  margin-bottom: 16px;
}

.c-btn {
  display: block;
  margin: 32px auto 16px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.c-btn--50p {
  width: 50%;
}
.c-btn--pink {
  background-color: #cb4778;
  color: white;
}
.c-btn--navy {
  background-color: #354260;
  color: white;
}

.c-back {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 16px auto;
  background-image: url("/images/back-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
}
.c-back:hover {
  text-decoration: none;
}

.c-header {
  background: #F9F9F9;
  border-bottom: 1px solid #c9c9c9;
  text-align: center;
  position: relative;
}
.c-header h4 {
  margin: 16px auto;
}

.c-hukidashi {
  display: flex;
  gap: 16px;
}
.c-hukidashi.c-hukidashi--a {
  flex-direction: row-reverse;
}
.c-hukidashi.c-hukidashi--b {
  flex-direction: row;
}
.c-hukidashi__frame {
  box-sizing: border-box;
  border: 1px solid #c9c9c9;
  border-radius: 16px;
  color: #c9c9c9;
  display: block;
}
.c-hukidashi--a .c-hukidashi__frame {
  border-top-right-radius: 0;
}
.c-hukidashi--b .c-hukidashi__frame {
  border-top-left-radius: 0;
}
.c-hukidashi__username {
  height: 24px;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0;
  color: #4a4a4a;
  font-size: 10px;
}
.c-hukidashi--a .c-hukidashi__username {
  text-align: right;
}
.c-hukidashi__photo {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}
.c-hukidashi--a .c-hukidashi__photo {
  flex-direction: row-reverse;
}
.c-hukidashi__header {
  display: flex;
  justify-content: space-between;
}
.c-hukidashi__tittle {
  margin-top: 0 16px;
  display: flex;
  width: 128px;
  font-size: 16px;
  color: black;
  margin: 16px;
}
.c-hukidashi__star {
  text-align: right;
  margin: 16px 0;
  width: 128px;
  color: gold;
  margin-right: 8px;
}
.c-hukidashi__honbun {
  color: black;
  margin: 16px;
  font-size: 14px;
  margin-top: 0;
}
.c-hukidashi__good {
  display: flex;
  margin-right: 16px;
  justify-content: flex-end;
}
.c-hukidashi__good img {
  width: 32px;
  height: 32px;
}
.c-hukidashi__goodnumber {
  color: #cb4778;
  font-size: 24px;
  font-weight: 700;
}
.c-hukidashi__edit {
  justify-content: flex-end;
  display: flex;
  gap: 8px;
  padding-top: 8px;
}
.c-hukidashi__edit img {
  width: 16px;
  height: 16px;
}
.c-hukidashi__date {
  font-size: 8px;
  text-align: center;
  height: 32px;
  margin-top: 32px;
}

.c-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 200;
  justify-content: center;
  align-items: center;
  animation: fade-in forwards 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  top: 0;
  left: 0;
}
.c-modal__box {
  width: 320px;
  min-height: 240px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  padding: 0 12px 8px;
  animation: scaleup forwards 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.c-modal__title {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.c-modal__text {
  padding: 12px;
  padding-top: 0;
  padding-bottom: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleup {
  0% {
    transform: scale(50%);
  }
  100% {
    transform: scale(100%);
  }
}
.p-gnav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  border-top: 1px solid #c9c9c9;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-gnav ul {
  margin: 16px auto;
  padding: 0;
  width: 100%;
  max-width: 480px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.p-gnav ul li {
  width: 20%;
}
.p-gnav a {
  color: #354260;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-gnav a:hover {
  text-decoration: none;
}
.p-gnav a:before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  margin-bottom: 4px;
  background-repeat: no-repeat;
  background-size: cover;
}
.p-gnav__home:before {
  background-image: url("/images/icon_home.svg");
}
.p-gnav__coupon:before {
  background-image: url("/images/icon_coupon.svg");
}
.p-gnav__gacha:before {
  background-image: url("/images/icon_gacha.svg");
}
.p-gnav__badge:before {
  background-image: url("/images/icon_badge.svg");
}
.p-gnav__account:before {
  background-image: url("/images/icon_account.svg");
}

.p-welcome__logo {
  width: 200px;
  margin: 0 auto 16px;
}
.p-welcome__sineup {
  text-align: center;
}

.p-account__phot {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  overflow: hidden;
}
.p-account__top {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.p-account__nickname {
  font-size: 24px;
  font-weight: bold;
  color: #354260;
}
.p-account__nav {
  display: block;
  border-bottom: 1px solid lightgray;
  background-image: url("/images/_arrow.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  padding: 16px;
}
.p-account__navgroup {
  margin-top: 16px;
  margin-bottom: 64px;
}

.p-add__text {
  text-align: center;
  font-size: 16px;
  margin: 40px auto;
}
.p-add__btn {
  margin: 120px auto;
}

.p-admin-top {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-admin-top__box {
  width: 480px;
  background-color: white;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  padding: 16px 64px;
}
.p-admin-top__logo {
  width: 240px;
  height: 280px;
  margin: 16px auto;
}

.p-gacha-top {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.p-gacha-top video {
  background-color: black;
  width: 100%;
  position: absolute;
  transform: translateY(-100px);
}
.p-gacha__handle {
  width: 100%;
  height: 400px;
  background-image: url("/images/bg_gacha-handle.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}
.p-gacha__handle--slideup {
  animation: slideup forwards 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.p-gacha__circle {
  width: 256px;
  height: 256px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 97px;
  left: calc(50% - 130px);
  animation: wakka infinite 5s linear;
}
.p-gacha__circle:hover {
  animation: wakka infinite 1s linear;
}
.p-gacha__map {
  width: 100%;
  height: 100vh;
}
.p-gacha__map iframe {
  width: 100%;
  height: 100%;
}
.p-gacha__mawasu {
  width: 80px;
  height: 66px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 195px;
  left: calc(50% - 42px);
  animation: bounce infinite alternate 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes slideup {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: scale(120%);
  }
  100% {
    transform: scale(80%);
  }
}
@keyframes wakka {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.p-badge__group {
  display: flex;
  flex-wrap: wrap;
  gap: 0 16px;
}
.p-badge__item {
  width: calc((100% - 64px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-badge__img {
  width: 100px;
  height: 100px;
  margin-bottom: 0;
}
.p-badge__date {
  margin: 0;
  font-size: 10px;
  color: #c9c9c9;
}
.p-badge__name {
  margin: 0;
  font-size: 16px;
}
.p-badge__title {
  margin-top: 16px;
  margin-bottom: 0px;
}
.p-badge__section {
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.u-padding-top--0 {
  padding-top: 0;
}