@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap");
html {
  height: -webkit-fill-available;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.75;
  background-color: #f6f6f6;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5x);
  -webkit-backdrop-filter: blur(5px); /* Safari 用 */
}

/* 現れている最中と、消えている最中は、0.5秒 */
.v-enter-active,
.v-leave-active {
  transition: 0.5s;
}

/* 現れる前の状態と、消えたときの状態は、透明度0で、下へ20移動*/
.v-enter,
.v-leave-to {
  opacity: 0;
}

.c-container {
  padding: 16px 16px 64px;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
.c-container--pc {
  width: 98%;
  display: flex;
  margin: 0 auto;
}

.c-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
}
.c-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
}
.c-form--check {
  font-size: 16px;
}
.c-form--check input {
  width: 24px;
}
.c-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
}
.c-form label {
  display: block;
  color: #354260;
  font-size: 12px;
}
.c-form__group {
  margin-bottom: 16px;
  position: relative;
}
.c-form__group--time {
  display: flex;
  flex: 1;
  gap: 8px;
  align-items: center;
  margin: 16px 0px 24px;
}
.c-form__group--time label {
  padding: 0;
}
.c-form__group--time input {
  width: 100%;
  flex: 1;
}
.c-form--admin {
  width: 100%;
  color: #354260;
}

.c-btn {
  display: block;
  margin: 32px auto 16px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  transition: all 0.25s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.c-btn:hover {
  filter: brightness(150%);
  text-decoration: none;
}
.c-btn--50p {
  width: 50%;
}
.c-btn--pink {
  background-color: #cb4778;
  color: white;
}
.c-btn--navy {
  background-color: #354260;
  color: white;
}
.c-btn--navy.is-inactive {
  background-color: #c9c9c9;
}
.c-btn--small {
  margin: 16px auto 8px;
  padding: 8px 16px;
  display: inline-block;
  width: auto;
  font-size: 11px;
}
.c-btn--update {
  align-items: center;
  text-align: center;
  width: 100px;
}
.c-btn--update:hover {
  text-decoration: none;
}
.c-btn--tab {
  width: 100%;
  height: 32px;
  border: 2px solid #354260;
  display: flex;
  border-radius: 16px;
  background-color: white;
  margin: auto;
  align-items: center;
  overflow: hidden;
}
.c-btn--tab a {
  flex: 1;
  text-align: center;
  font-size: 12px;
  color: #354260;
}
.c-btn--tab a.is-active {
  background-color: #354260;
  color: white;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
}

.c-back {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 16px auto;
  background-image: url("/images/back-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
}
.c-back:hover {
  text-decoration: none;
}

.c-header {
  background: #F9F9F9;
  border-bottom: 1px solid #c9c9c9;
  text-align: center;
  position: relative;
  min-height: 36px;
}
.c-header h4 {
  margin: 16px auto;
}
.c-header__bell {
  background: #F9F9F9;
  border-bottom: 1px solid #c9c9c9;
  position: relative;
  min-height: 36px;
  text-align: right;
  margin-bottom: 32px;
}
.c-header__bell img {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
.c-header__notice {
  position: absolute;
  top: -2px;
  right: -2px;
  z-index: 100;
  background-color: #cb4778;
  min-width: 16px;
  height: 16px;
  color: white;
  font-size: 8px;
  border-radius: 8px;
  padding: 0 8px;
}

.c-hukidashi {
  display: flex;
  gap: 8px;
}
.c-hukidashi.c-hukidashi--a {
  flex-direction: row-reverse;
}
.c-hukidashi.c-hukidashi--b {
  flex-direction: row;
}
.c-hukidashi__frame {
  box-sizing: border-box;
  border: 1px solid #c9c9c9;
  border-radius: 16px;
  color: #c9c9c9;
  display: block;
}
.c-hukidashi--a .c-hukidashi__frame {
  border-top-right-radius: 0;
}
.c-hukidashi--b .c-hukidashi__frame {
  border-top-left-radius: 0;
}
.c-hukidashi__username {
  height: 24px;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0;
  color: #4a4a4a;
  font-size: 10px;
}
.c-hukidashi--a .c-hukidashi__username {
  text-align: right;
}
.c-hukidashi__photo {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}
.c-hukidashi--a .c-hukidashi__photo {
  flex-direction: row-reverse;
}
.c-hukidashi__header {
  display: flex;
  justify-content: space-between;
}
.c-hukidashi__header--a {
  width: 100%;
}
.c-hukidashi__tittle {
  margin-top: 0 16px;
  display: flex;
  width: 128px;
  font-size: 16px;
  color: black;
  margin: 16px;
}
.c-hukidashi__star {
  text-align: right;
  margin: 16px 0;
  width: 128px;
  color: gold;
  margin-right: 8px;
}
.c-hukidashi__honbun {
  color: black;
  margin: 16px;
  font-size: 14px;
  margin-top: 0;
}
.c-hukidashi__good {
  display: flex;
  margin-right: 16px;
  justify-content: flex-end;
}
.c-hukidashi__good img {
  width: 32px;
  height: 32px;
}
.c-hukidashi__goodnumber {
  color: #cb4778;
  font-size: 24px;
  font-weight: 700;
}
.c-hukidashi__edit {
  justify-content: flex-end;
  display: flex;
  gap: 8px;
  padding-top: 8px;
}
.c-hukidashi__edit img {
  width: 16px;
  height: 16px;
}
.c-hukidashi__date {
  font-size: 8px;
  text-align: center;
  height: 32px;
  margin-top: 32px;
}
.c-hukidashi__date--spot {
  text-align: left;
  font-size: 8px;
  margin: 32px auto 0;
}
.c-hukidashi--good {
  margin-bottom: 32px;
  display: flex;
  gap: 8px;
}

.c-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 200;
  justify-content: center;
  align-items: center;
  animation: fade-in forwards 0.25s cubic-bezier(0.86, 0, 0.07, 1);
  top: 0;
  left: 0;
}
.c-modal__box {
  width: calc(100% - 32px);
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  padding: 24px 12px 12px;
  animation: scaleup forwards 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.c-modal__title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 16px;
}
.c-modal__title--pink {
  color: #cb4778;
}
.c-modal__title small {
  display: block;
  color: #7f7f7f;
  font-size: 12px;
  text-align: center;
}
.c-modal__content {
  margin-bottom: 18px;
  font-size: 14px;
}
.c-modal__button {
  text-align: center;
}
.c-modal__button a:not([class]) {
  font-size: 14px;
  color: #354260;
  line-height: 1;
}
.c-modal__flex {
  display: flex;
  gap: 8px;
}
.c-modal__flex__img {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}
.c-modal__flex__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-modal__flex__text {
  margin: 0;
  padding: 0;
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.25;
}
.c-modal__flex__text small {
  margin-top: 12px;
  font-weight: 400;
  font-size: 12px;
  display: block;
}
.c-modal__sineup {
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleup {
  0% {
    transform: scale(50%);
  }
  100% {
    transform: scale(100%);
  }
}
.c-coupon__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-coupon__top .c-btn--small {
  margin-right: 0;
}
.c-coupon__box {
  width: 100%;
  background-color: white;
  border: 2px solid #C9C9C9;
  border-radius: 8px;
  margin-top: 16px;
  padding: 0 16px;
}
.c-coupon__box--spot {
  margin-top: 0;
  width: 100%;
  background-color: white;
  border: 2px solid #C9C9C9;
  border-radius: 8px;
  padding: 0 16px;
}
.c-coupon__use {
  color: #CB4778;
  font-size: 12px;
}
.c-coupon__address {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.c-store {
  width: 100%;
  margin: 0;
}
.c-store__name {
  font-size: 32px;
  margin: 0;
}
.c-store__section {
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.c-store__section--edit {
  padding: 10px;
  margin: 0;
}
.c-store__text {
  font-size: 20px;
  margin: 0;
}
.c-store__text--addcheck {
  margin: 0;
  padding-top: 8px;
  font-weight: bold;
}
.c-store__item {
  font-size: 12px;
  margin: 0px;
}
.c-store__item--addcheck {
  font-size: 12px;
  margin: 0px;
  padding-top: 24px;
}

.p-gnav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  border-top: 1px solid #c9c9c9;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-gnav ul {
  margin: 16px auto;
  padding: 0;
  width: 100%;
  max-width: 480px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.p-gnav ul li {
  width: 20%;
}
.p-gnav a {
  color: #354260;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-gnav a:hover {
  text-decoration: none;
}
.p-gnav a:before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  margin-bottom: 4px;
  background-repeat: no-repeat;
  background-size: cover;
}
.p-gnav__home:before {
  background-image: url("/images/icon_home.svg");
}
.p-gnav__coupon:before {
  background-image: url("/images/icon_coupon.svg");
}
.p-gnav__gacha:before {
  background-image: url("/images/icon_gacha.svg");
}
.p-gnav__badge:before {
  background-image: url("/images/icon_badge.svg");
}
.p-gnav__account:before {
  background-image: url("/images/icon_account.svg");
}

.p-welcome__logo {
  width: 200px;
  margin: 0 auto 16px;
}
.p-welcome__sineup {
  text-align: center;
}

.p-account__phot {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  overflow: hidden;
}
.p-account__top {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.p-account__top--set {
  width: 100%;
  text-align: center;
}
.p-account__top--set img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  overflow: hidden;
}
.p-account__nickname {
  font-size: 24px;
  font-weight: bold;
  color: #354260;
}
.p-account__nav {
  display: block;
  border-bottom: 1px solid lightgray;
  background-image: url("/images/_arrow.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  padding: 16px;
}
.p-account__navgroup {
  margin-top: 16px;
  margin-bottom: 64px;
}

.p-add__text {
  text-align: center;
  font-size: 16px;
  margin: 40px auto;
}
.p-add__btn {
  margin: 120px auto;
}

.p-admin-top {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-admin-top__box {
  width: 480px;
  background-color: white;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  padding: 16px 64px;
}
.p-admin-top__logo {
  width: 240px;
  height: 280px;
  margin: 16px auto;
}
.p-admin__header {
  width: 100%;
  height: 80px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-admin__logo {
  width: 270px;
  display: block;
}
.p-admin__logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}
.p-admin__side {
  width: 240px;
  height: 100%;
  padding: 8px;
}
.p-admin__side ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.p-admin__side ul li {
  margin: 0;
  padding: 0;
}
.p-admin__side ul a {
  display: flex;
  align-items: center;
  color: #354260;
  margin: 8px auto;
  gap: 8px;
  padding: 16px;
}
.p-admin__side ul a:hover {
  text-decoration: none;
}
.p-admin__side ul a::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 4px;
  display: inline-block;
}
.p-admin__side ul a.is-current {
  background-color: #ababab;
}
.p-admin__side-store:before {
  background-image: url("/images/store-logo.png");
  background-size: cover;
}
.p-admin__side-coupon:before {
  background-image: url("/images/icon_coupon.svg");
  background-size: cover;
}
.p-admin__side-review:before {
  background-image: url("/images/review-logo.png");
  background-size: cover;
}
.p-admin__content {
  width: calc(100% - 240px);
  padding: 32px;
  background-color: white;
}
.p-admin__contentbox {
  margin: 0 auto;
  width: 90%;
}
.p-admin__contentbox--a {
  display: flex;
  justify-content: space-between;
}
.p-admin__contentheader {
  display: flex;
  align-items: center;
  width: 100%;
}
.p-admin__contentheader--a h1 {
  color: #354260;
}
.p-admin__contentheader h1 {
  color: #354260;
}
.p-admin__contentheader img {
  width: 24px;
  height: 24px;
}
.p-admin__time {
  display: flex;
  gap: 16px;
}
.p-admin__map {
  width: 100%;
  aspect-ratio: 16/7;
}
.p-admin__map iframe {
  width: 100%;
  height: 100%;
}
.p-admin__photo {
  display: flex;
  gap: 8px;
  padding: 0;
  align-items: center;
}
.p-admin__photo--check {
  display: flex;
  gap: 8px;
}
.p-admin__star {
  display: flex;
  align-items: center;
}
.p-admin__star--a {
  text-align: right;
  padding: 16px;
}
.p-admin__star--a img {
  width: 24px;
  height: 24px;
}
.p-admin__star--spot {
  text-align: right;
  padding: 16px;
}
.p-admin__star--spot img {
  width: 16px;
  height: 16px;
}
.p-admin__star p {
  margin-right: 16px;
}
.p-admin__tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.p-admin__historynumber p {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 16px;
}
.p-admin__a {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}
.p-admin__a label,
.p-admin__a p {
  color: #354260;
}
.p-admin__photocheck {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.p-admin__photocheck:checked + label img {
  opacity: 1;
}
.p-admin__photocheck:not(:checked) + label img {
  opacity: 0.5;
}
.p-admin__review {
  display: flex;
  gap: 8px;
  margin-bottom: 64px;
}

.p-gacha-top {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.p-gacha-top video {
  background-color: black;
  width: 100%;
  position: absolute;
  transform: translateY(-100px);
}
.p-gacha__handle {
  width: 100%;
  height: 400px;
  background-image: url("/images/bg_gacha-handle.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}
.p-gacha__handle--slideup {
  animation: slideup forwards 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.p-gacha__circle {
  width: 256px;
  height: 256px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 97px;
  left: calc(50% - 130px);
  animation: wakka infinite 5s linear;
}
.p-gacha__circle:hover {
  animation: wakka infinite 1s linear;
}
.p-gacha__map {
  width: 100%;
  height: calc(100vh - 300px);
}
.p-gacha__map iframe {
  width: 100%;
  height: 100%;
}
.p-gacha__mawasu {
  width: 80px;
  height: 66px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 195px;
  left: calc(50% - 42px);
  animation: bounce infinite alternate 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes slideup {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: scale(120%);
  }
  100% {
    transform: scale(80%);
  }
}
@keyframes wakka {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.p-badge__group {
  display: flex;
  flex-wrap: wrap;
  gap: 0 16px;
}
.p-badge__item {
  width: calc((100% - 64px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-badge__img {
  width: 100px;
  height: 100px;
  margin-bottom: 0;
}
.p-badge__date {
  margin: 0;
  font-size: 10px;
  color: #c9c9c9;
}
.p-badge__name {
  margin: 0;
  font-size: 16px;
}
.p-badge__title {
  margin-top: 16px;
  margin-bottom: 0px;
}
.p-badge__section {
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.p-post__star img {
  width: 40px;
  height: 40px;
}

.p-store__star img {
  width: 20px;
  height: 20px;
}

.p-notice__date {
  font-size: 12px;
  color: #c9c9c9;
}
.p-notice__text {
  font-size: 16px;
  margin: 0;
}

.u-padding-top--0 {
  padding-top: 0;
}

.u-margin-top--0 {
  margin-top: 0;
}